@charset "utf-8";
/* CSS Document */






body{
    background:#F0F0F0;
    font-size:14px;
    scrollbar-3dlight-color:#ffd700; 
scrollbar-arrow-color:#ff0; 
scrollbar-base-color:#ff6347; 
scrollbar-darkshadow-color:#ffa500; 
scrollbar-face-color:#008080; 
scrollbar-highlight-color:#ff69b4; 
scrollbar-shadow-color:#f0f
margin:0;
padding:0;
}


body {
    color: #333333;
    font: 12px 'Lucida Grande',lucida,helvetica,arial,sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 940px;
}
#wrappertop {
    height: 20px;
    margin-top: 20px;
    padding: 0 20px;
    width: 900px;
}
#wrapperbottom {
    height: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 900px;
}
#wrapper {
    padding: 0 20px;
    position: relative;
    width: 900px;
}
#content {
    background-color: #FFFFFF;
    text-align: left;
    width: 900px;
}

#header {
   /* background: none repeat scroll 0 0 #C5E6EA;
    border-bottom: 1px solid #B2CCD0;*/
	 background: none repeat scroll 0 0  #FFF;
   
    display: block;
    height:5px;
  /*  padding: 25px 0 5px 20px;*/
    width: 880px;
}








#logout-link {
    background: url("../images/logout.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-right: medium none;
    float: right;
    height: 19px;
    margin-right: 12px;
    margin-top: -2px;
    overflow: hidden;
    width: 18px;
}
#logout-link:hover {
    background: url("../images/logout.png") no-repeat scroll 0 -19px rgba(0, 0, 0, 0);
}



#darkbanner {
    background: none repeat scroll 0 0 #424242;
    margin: 20px 0 0 -18px;
    padding: 8px 10px 10px 40px;
    position: relative;
}
#darkbanner span {
    color: #FFFFFF;
    display: block;
    padding-left: 35px;
}
#darkbannerwrap {
    background: url("../images/aiwrap.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    margin: 0 0 20px -18px;
    position: relative;
    width: 18px;
}
#lightbanner {
    background: none repeat scroll 0 0 #B6B6B6;
    margin: 20px 0 0 -18px;
    padding: 8px 10px 10px 40px;
    position: relative;
}
#lightbanner span {
    color: #FFFFFF;
    display: block;
    padding-left: 35px;
}
#lightbannerwrap {
    background: url("../images/ciwrap.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    margin: 0 0 20px -18px;
    position: relative;
    width: 18px;
}







#darkbanner h2 {
    color: #FFFFFF;
    display: inline;
    font: bold 24px helvetica,arial,sans-serif;
    margin-left: 10px;
}
fieldset {
    background-color: #EAF6F7;
    border-bottom: 2px solid #ACDBE1;
    border-top: 2px solid #ACDBE1;
    display: block;
    margin: 20px;
    padding: 20px;
}




.form button {
    background-color: #92C97C;
    border: 1px solid #73B35A;
    color: #E8F7DF;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size: 100%;
    font-weight: bold;
    line-height: 130%;
    margin: 0 7px 0 160px;
    padding: 5px 10px 6px 7px;
    text-decoration: none;
}
.form button {
    overflow: visible;
    padding: 4px 10px 3px 7px;
    width: auto;
}
.form button[type] {
    line-height: 17px;
    padding: 5px 10px 5px 7px;
}
:first-child + html button[type] {
    padding: 4px 10px 3px 7px;
}
.form button img, .buttons a img {
    border: medium none;
    height: 16px;
    margin: 0 6px -3px 0 !important;
    padding: 0;
    text-decoration: none;
    width: 16px;
}
button:hover {
    background-color: #E8F7DF;
    border: 1px solid #92C97C;
    color: #31940C;
}
.buttons a:active {
    background-color: #E8F7DF;
    border: 1px solid #92C97C;
    color: #31940C;
}

#footer {
    background-color: #104B67;
    color: #9FB7C2;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    width: 860px;
}
#footer a {
    color: #9FB7C2;
    font-weight: normal;
}
body#login {
    width: 410px;
}
body#login #wrappertop {
    width: 370px;
}
body#login #wrapperbottom {
    width: 370px;
}
body#login #wrapperbottom_branding {
    padding: 0 20px;
    width: 370px;
}
body#login #wrapperbottom_branding_text {
    background-color: #FFFFFF;
    color: #C0C0C0;
    font: 11px 'Lucida Grande',arial,sans-serif;
    padding-bottom: 10px;
    padding-top: 3px;
    width: 370px;
}
body#login #wrapperbottom_branding_text a {
    color: #C0C0C0;
}
body#login #wrapper {
    padding: 0 20px;
    width: 370px;
}
body#login #content {
    width: 370px;
}
body#login #header {
    width: 350px;
}
body#login fieldset {
    background-color: #FFFFFF;
    border: 0 none;
    display: block;
    margin: -30px 0 0;
    padding-top: 20px;
    width: 330px;
}
body#login fieldset p {
    color: #333333;
}
body#login fieldset p.error {
    background: none repeat scroll 0 0 #EAC5C5;
    border: 2px solid #BC6F6B;
    color: #7B0C00;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}
body#login fieldset p.error img {
    margin-right: 5px;
}
body#login label {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 7px;
    text-align: right;
    width: 70px;
}
body#login input {
   -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(../images/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 80%;
}
body#login .form button {
    display: block;
    float: left;
    margin: 0 3px 0 80px;
}
#forgottenpassword {
    margin-top: 7px;
}
#forgottenpassword a {
    color: #333333;
}
#forgottenpassword a:hover {
    color: #104B67;
}
#forgottenpassword li {
    display: inline;
    margin-left: 10px;
}

.clear {
    clear: both;
}
#darkbanner img {
    float: left;
    margin-top: 2px;
}

