@charset "utf-8";
/* CSS Document */









#wrappertop {
    height: 20px;
    margin-top: 20px;
    padding: 0 20px;
    width: 900px;
}
#wrapperbottom {
    height: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 900px;
}
#wrapper2 {
    padding: 30px 300px;
    position: relative;
    width: 400px;
}
#content {
    background-color: #FFFFFF;
    text-align: left;
    width: 900px;
}

#header {
   /* background: none repeat scroll 0 0 #C5E6EA;
    border-bottom: 1px solid #B2CCD0;*/
	 background: none repeat scroll 0 0  #FFF;
   
    display: block;
    height:5px;
  /*  padding: 25px 0 5px 20px;*/
    width: 880px;
}








#logout-link {
    background: url("../images/logout.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-right: medium none;
    float: right;
    height: 19px;
    margin-right: 12px;
    margin-top: -2px;
    overflow: hidden;
    width: 18px;
}
#logout-link:hover {
    background: url("../images/logout.png") no-repeat scroll 0 -19px rgba(0, 0, 0, 0);
}



#darkbanner {
    background: none repeat scroll 0 0 #424242;
    margin: 20px 0 0 -18px;
    padding: 8px 10px 10px 40px;
    position: relative;
}
#darkbanner span {
    color: #FFFFFF;
    display: block;
    padding-left: 35px;
}
#darkbannerwrap {
    background: url("../images/aiwrap.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    margin: 0 0 20px -18px;
    position: relative;
    width: 18px;
}
#lightbanner {
    background: none repeat scroll 0 0 #B6B6B6;
    margin: 20px 0 0 -18px;
    padding: 8px 10px 10px 40px;
    position: relative;
}
#lightbanner span {
    color: #FFFFFF;
    display: block;
    padding-left: 35px;
}
#lightbannerwrap {
    background: url("../images/ciwrap.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    margin: 0 0 20px -18px;
    position: relative;
    width: 18px;
}







#darkbanner h2 {
    color: #FFFFFF;
    display: inline;
    font: bold 24px helvetica,arial,sans-serif;
    margin-left: 10px;
}
fieldset {
    background-color: #EAF6F7;
    border-bottom: 2px solid #ACDBE1;
    border-top: 2px solid #ACDBE1;
    display: block;
    margin: 20px;
    padding: 20px;
}
    .green_button {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(11,156,49,0.8);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 16px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(0,150,0,1), 0px 9px 0px rgba(0,0,0,.7);
   
	width: 100px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	border:none;
}

.green_button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(0,150,0,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
	border:none;
}



/*.form button {
    background-color: #92C97C;
    border: 1px solid #73B35A;
    color: #E8F7DF;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size: 100%;
    font-weight: bold;
    line-height: 130%;
    margin: 0 7px 0 160px;
    padding: 5px 10px 6px 7px;
    text-decoration: none;
}
.form button {
    overflow: visible;
    padding: 4px 10px 3px 7px;
    width: auto;
}
.form button[type] {
    line-height: 17px;
    padding: 5px 10px 5px 7px;
}
:first-child + html button[type] {
    padding: 4px 10px 3px 7px;
}
.form button img, .buttons a img {
    border: medium none;
    height: 16px;
    margin: 0 6px -3px 0 !important;
    padding: 0;
    text-decoration: none;
    width: 16px;
}
button:hover {
    background-color: #E8F7DF;
    border: 1px solid #92C97C;
    color: #31940C;
}
.buttons a:active {
    background-color: #E8F7DF;
    border: 1px solid #92C97C;
    color: #31940C;
}
*/
#footer {
    background-color: #104B67;
    color: #9FB7C2;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    width: 860px;
}
#footer a {
    color: #9FB7C2;
    font-weight: normal;
}
#login_div {
    width: 410px;
}
 #wrappertop {
    width: 370px;
}
 #wrapperbottom {
    width: 370px;
}
#wrapperbottom_branding {
    padding: 0 20px;
    width: 370px;
}
 #wrapperbottom_branding_text {
    background-color: #FFFFFF;
    color: #C0C0C0;
    font: 11px 'Lucida Grande',arial,sans-serif;
    padding-bottom: 10px;
    padding-top: 3px;
    width: 370px;
}
 #wrapperbottom_branding_text a {
    color: #C0C0C0;
}
 /*#wrapper {
    padding: 0 20px;
    width: 370px;
}*/
 #content {
    width: 313px;
	
}
 #header {
    /*width: 350px;*/
	width: 0px;
}
#login_div fieldset {
    background-color: #FFFFFF;
    border: 0 none;
    display: block;
    margin: -30px 0 0;
    padding-top: 20px;
    /*width: 330px;*/
	width: 274px;
}
#login_div fieldset p {
    color: #333333;
}
#login_div fieldset p.error {
    background: none repeat scroll 0 0 #EAC5C5;
    border: 2px solid #BC6F6B;
    color: #7B0C00;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}
#login_div fieldset p.error img {
    margin-right: 5px;
}
#login_div label {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 7px;
    text-align: right;
    width: 70px;
}
#login_div input {
   -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(../images/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 90%;
}
#login_div .form button {
    display: block;
    float: left;
    margin: 0 3px 0 80px;
	cursor:pointer;
}
#forgottenpassword {
    margin-top: 7px;
}
#forgottenpassword a {
    color: #333333;
}
#forgottenpassword a:hover {
    color: #104B67;
}
#forgottenpassword li {
    display: inline;
    margin-left: 10px;
}

.clear {
    clear: both;
}
#darkbanner img {
    float: left;
    margin-top: 2px;
}

.signup_forgot_main{
background-color:#F7F7F7;	
}
.signup_hr{
color:#CCC;	
}

.signup_forgot{
margin-left:20px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-weight:bold;	
}

.signup_forgot a{
	text-decoration:none;
	color:#000;
	
}

.sign_in_accoutn{
margin-top:10px; margin-left:20px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-weight:bold;	
}

.red_button {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(205,0,0,205);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 16px;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(139,0,0,139), 0px 9px 0px rgba(0,0,0,.7);
    margin: 100px auto;
	width: 100px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	border:none;
}

.red_button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(0,150,0,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
	border:none;
}

.login_bg{
background:#f4f4f4 url(../images/bg.gif) repeat top left;	
}
