#tabs_area{
	/*width:850px;
	margin:auto;*/
	background:#FFF;
	border:1px solid #ccc;
	border-radius: 5px 5px 5px 5px;
}
#main {
	
	clear: both;
	padding-top: 2em;
	/*width:800px;*/
	
}

#contents {
	padding: 1.5em;
	/*min-height: 300px;
	height: 458px;*/
}

#header {
	position: relative;
	height: 40px;
	width: 99%; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	margin:auto;
	background: #e0e0e0; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMWMxYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #e0e0e0 0%, #c1c1c1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e0e0e0 0%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e0e0e0 0%,#c1c1c1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e0e0e0 0%,#c1c1c1 100%); /* IE10+ */
background: linear-gradient(to bottom, #e0e0e0 0%,#c1c1c1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-8 */
padding-left:3px;
border-radius: 3px 3px 3px 3px;
margin-top:3px;
}

#header ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#primary li  {
	display: inline;
	list-style: none;
	
}

#header ul#primary a,#header ul#primary span,#header ul#primary a.current {
	width: 8em;
	display: block;
	float: left;
	padding: 9px;
	margin: 0px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
	border-radius:5px 5px 0px 0px;
	
}

/*#header ul#primary span,#header ul#primary a.current,#header ul#primary a.current:hover  {
	border: 1px solid #666;
	border-bottom: none;
	background: #FFF;
	margin-top: 0;
}*/

#header ul#primary .selected_class,#header ul#primary a.current,#header ul#primary a.current:hover{
border: 1px solid #666;
	border-bottom: none;
	background: #FFF;
	margin-top: 0;	
}

#header ul#primary .Notselected_class,#header ul#primary a.current,#header ul#primary a.current:hover{

	background: #EDEDED;
	padding:9px;
	color:#666;
	border-radius:5px 5px 0px 0px;
	margin-bottom:2px;	
}

.notSelected{
background: #EDEDED;
	padding:9px;
	color:#666;
	border-radius:5px 5px 0px 0px;
	margin-bottom:2px;	
}
#header ul#primary a {
	background: #EDEDED;
	padding:9px;
	color:#666;
	border-radius:5px 5px 0px 0px;
	margin-bottom:2px;
}

#header ul#primary a {
	background: #EDEDED;
	padding:9px;
	color:#666;
	border-radius:5px 5px 0px 0px;
	margin-bottom:2px;
}


#header ul#primary a:hover {
	margin-top: 0;
	color:#333;
	background: #e4e4e4; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #e4e4e4 0%, #e4e4e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4e4e4 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4e4e4 0%,#e4e4e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4e4e4 0%,#e4e4e4 100%); /* IE10+ */
background: linear-gradient(to bottom, #e4e4e4 0%,#e4e4e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-8 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-8 */
}

#header ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: -1.4em;
	left: 1px;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#header ul#secondary li a,#header ul#secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: auto;
	border: none;
	border-right: 1px dotted #AAA;
	background: none;

}

#header ul#secondary li a {
	color: #06C;
	text-decoration: underline;
}

#header ul#secondary li a:hover {
	color: #333;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-right: 1px dotted #AAA;
}

#header ul#secondary li a:active {
	color: #000;
	background: transparent;
}

#header ul#secondary li:last-child a { border: none; }